{% extends "base.html" %}
{% block title %}appointment page{% endblock %}
{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<h2>hello {{target.adress}}</h2>
<form action="{% url 'appointment_create' %}" method="post">
{% csrf_token %}
<table>
    <tr>
        <td>{{form.date_rdv.label_tag}}</td>
        <td><input type="datetime" name="date_rdv" value="{{now}}"/></td>
    </tr>
</table>
<input type="hidden" id="id_target_user" name="target_user" value="{{target.id}}"/>
<input type="hidden" id="id_lawyer" name="lawyer" value="1"/>
<input type="submit" value="valide" />
</form>
{% endblock %}