<!DOCTYPE html>
{% load i18n %}
<html lang="fr_FR">
<head>
    <link rel="stylesheet" href="style.css" />
    {% block head %}
    <title>{% block title %}avocat{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div>
        <a href="/">home</a> | <a href="/lower">lower</a> | <a href="/client">client</a>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2014 by <a href="http://chenliangxu.zxq.net/">CHEN Liangxu.</a>
        {% endblock %}
    </div>
</body>
</html>