{% extends "base.html" %}
{% block title %}client page{% endblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="item_div">
	<table class="add_item_table">
		<thead>
			<tr><td>code id</td><td>name</td><td>price</td><td>type</td></tr>
		</thead>
		<tbody>
		{% for item in items %}
			<tr><td>{{item.code_id}}</td><td>{{item.name}}</td><td>{{item.price}}</td><td>{{item.type_item}}</td></tr> 
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}